if SHIELD_K04_QUBE || SHIELD_K04_LEFT

config ZMK_KEYBOARD_NAME
    default "EH K:04"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_K04_QUBE || SHIELD_K04_LEFT_QUBE || SHIELD_K04_LEFT || SHIELD_K04_RIGHT

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

endif
